<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Comparison</title>
</head>
<body>
    <h1>Compare Files</h1>
    <form action="/compare" method="POST" enctype="multipart/form-data">
        <label for="file_to_compare">single_resume</label><br>
        <input type="file" id="file_to_compare" name="file_to_compare"><br><br>
        <label for="files">Select 100 jobs description:</label><br>
        <input type="file" id="files" name="files" multiple ><br><br>
        <input type="submit" value="Compare">
    </form>
</body>
</html>
